body {
	background: #E5E5E5
;
	margin: 130px;
}

.content {
	color: blue;
}

.title {
	line-height: 1.6;
	max-width: 700px;
	color: white;
	-webkit-text-stroke: black 1px;
    border: 3px solid blue;
    padding: 15px;
}

p {
	font-family: 'Work Sans', sans-serif;
		line-height: 1.6;
}

li {
	font-family: 'Work Sans', sans-serif;
		line-height: 1.6;
}

h2 {
font-family: 'Work Sans', sans-serif;
	line-height: 1.6;
}

h1 {
	font-family: 'Stalinist One', cursive;
}

.image {
	max-width: 400px;
	right: 115px;
	position: absolute;
}